<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <nav>
                <a th:href="@{/}">Etusivu</a>
                <a th:href="@{/news/new}">Uusi uutinen</a>
                <a th:each="category : ${categories}">
                    <a th:href="@{/{name}(name=${category.name.toLowerCase()})}" th:text="${category.name}">kategoria</a>
                </a>
            </nav>
        </header>

    </body>
</html>
