<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="fi">
        <title th:text="${category.name}"></title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <div th:each="article : ${articles}">
            <a th:href="@{/news/{id}(id=${article.id})}">
            <h1 th:text="${article.headline}">otsikko</h1>
            <p th:text="${#temporals.format(article.publishDate, 'dd.MM.yyyy HH:mm')}">julkaisupäivä</p>
            </a>
        </div>
    </body>
</html>
