<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="fi">
        <title>Uutissivusto</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <div>
            <h1>Uusimmat uutiset</h1>
            <div th:each="article : ${articles}">
                <a th:href="@{/news/{id}(id=${article.id})}">
                <h1 th:text="${article.headline}">otsikko</h1>
                <p th:text="${article.lead}">ingressi</p>
                <img th:src="@{/images/{id}/content(id=${article.id})}"/>
                </a>
            </div>
        </div>
    </body>
</html>
