<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="fi">
        <title>Lisää uusi uutinen</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <div>
            <h1>Lisää uutinen</h1>
            <form th:action="@{/news}" method="POST" enctype="multipart/form-data" id="articleForm">
                <p>Otsikko: <input name="headline"/></p>
                <p>Ingressi: <input name="lead"/></p>
                <p>Sisältö: <textarea name="bodytext"></textarea></p>
                <p>Julkaisupäivä <input type="date" name="publishdate"/></p>
                <p>Kuva: <input type="file" name="file" id="file"/></p>
                <select name="categoryId">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">kategoria</option>
                </select>
                <select name="authorId">
                    <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">kirjoittaja</option>
                </select>
                <input type="submit" value="Add"/>
            </form>
        </div>
    </body>
</html>
