<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="fi">
        <title>Add new article</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <div class="container-fluid">
            <h1>Add new article</h1>
            <form th:action="@{/news}" method="POST" enctype="multipart/form-data" id="articleForm">
                <div class="form-group">
                    <label>Headline:</label>
                    <input type="text" name="headline" required="required"/>
                </div>
                <div class="form-group">
                    <label>Lead paragraph:</label>
                    <input type="text" name="lead" required="required"/>
                </div>
                <div class="form-group">
                    <label>Text:</label><br/>
                    <textarea class="form-control" rows="10" name="bodytext" required="required"></textarea>
                </div>
                <div class="form-group">
                    <label>Publishing date:</label>
                    <input type="datetime-local" name="publishdate" required="required"/>
                </div>
                <div class="form-group">
                    <label>Image:</label>
                    <input type="file" name="file" id="file" accept="image/*" required="required"/>
                </div>
                <div class="form-group">
                <label>Category</label><br/>
                <select class="form-control" name="categoryId" multiple="multiple" required="required">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">kategoria</option>
                </select>
                </div>
                <div class="form-group">
                <label>Author</label><br/>
                <select class="form-control" name="authorId" multiple="multiple" required="required">
                    <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">kirjoittaja</option>
                </select>
                </div>
                <input type="submit" class="btn btn-default" value="Add"/>
            </form>
        </div>
    </body>
</html>
